<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>All Images</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={{url_for('static', filename='css/grid.css')}}> 

    </head>
    <body>
        <div class="child-page-listing">
            <button onclick="window.location.href='/properties/property/'+{{id}}" id="back_btn" class="btn btn-outline-dark " ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg>&nbsp; Back&nbsp; </button>
            <h2>All Images</h2>
          
            <div class="grid-container">
          
              <article id="3685" class="location-listing">
          
                <a class="location-title" href="#">
                              Study Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/_HqHX3LBN18/300x169" alt="study room">		</a>
          
                </div>
          
              </article>
          
              <article id="3688" class="location-listing">
          
                <a class="location-title" href="#">
                              Bed Room						</a>
          
                <div class="location-image">
                  <a href="https://source.unsplash.com/kyt0PkBSCNQ/300x169">
                                  <img width="300" height="169" src="https://source.unsplash.com/kyt0PkBSCNQ/300x169" alt="bedroom">	</a>
          
                </div>
          
              </article>
          
              <article id="3691" class="location-listing">
          
                <a class="location-title" href="#">
                              Living Room					</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/emqnSQwQQDo/300x169" alt="living room">	</a>
          
                </div>
          
              </article>
          
              <article id="3694" class="location-listing">
          
                <a class="location-title" href="#">
                              Kitchen					</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/8xT51zPdsjY/300x169" alt="Kitchen">	</a>
          
                </div>
          
              </article>
          
              <article id="3697" class="location-listing">
          
                <a class="location-title" href="#">
                              Drawing Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/BVQmegLZGGE/300x169" alt="drawing_room">		</a>
          
                </div>
          
              </article>
          
              <article id="3700" class="location-listing">
          
                <a class="location-title" href="#">
                              Dine Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/C-X9U1I5xGM/300x169" alt="dine room">					
                              </a>
                </div>
          
              </article>

              <!-- Repeat first above images -->
              
              <article id="3685" class="location-listing">
          
                <a class="location-title" href="#">
                              Study Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/_HqHX3LBN18/300x169" alt="study room">		</a>
          
                </div>
          
              </article>
          
              <article id="3688" class="location-listing">
          
                <a class="location-title" href="#">
                              Bed Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/kyt0PkBSCNQ/300x169" alt="bedroom">	</a>
          
                </div>
          
              </article>
          
              <article id="3691" class="location-listing">
          
                <a class="location-title" href="#">
                              Living Room					</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/emqnSQwQQDo/300x169" alt="living room">	</a>
          
                </div>
          
              </article>
          
              <article id="3694" class="location-listing">
          
                <a class="location-title" href="#">
                              Kitchen					</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/8xT51zPdsjY/300x169" alt="Kitchen">	</a>
          
                </div>
          
              </article>
          
              <article id="3697" class="location-listing">
          
                <a class="location-title" href="#">
                              Drawing Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/BVQmegLZGGE/300x169" alt="drawing_room">		</a>
          
                </div>
          
              </article>
          
              <article id="3700" class="location-listing">
          
                <a class="location-title" href="#">
                              Dine Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/C-X9U1I5xGM/300x169" alt="dine room">					
                              </a>
                </div>
          
              </article>

              <!-- Again Repeat  -->

              <article id="3685" class="location-listing">
          
                <a class="location-title" href="#">
                              Study Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/_HqHX3LBN18/300x169" alt="study room">		</a>
          
                </div>
          
              </article>
          
              <article id="3688" class="location-listing">
          
                <a class="location-title" href="#">
                              Bed Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/kyt0PkBSCNQ/300x169" alt="bedroom">	</a>
          
                </div>
          
              </article>
          
              <article id="3691" class="location-listing">
          
                <a class="location-title" href="#">
                              Living Room					</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/emqnSQwQQDo/300x169" alt="living room">	</a>
          
                </div>
          
              </article>
          
              <article id="3694" class="location-listing">
          
                <a class="location-title" href="#">
                              Kitchen					</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/8xT51zPdsjY/300x169" alt="Kitchen">	</a>
          
                </div>
          
              </article>
          
              <article id="3697" class="location-listing">
          
                <a class="location-title" href="#">
                              Drawing Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/BVQmegLZGGE/300x169" alt="drawing_room">		</a>
          
                </div>
          
              </article>
          
              <article id="3700" class="location-listing">
          
                <a class="location-title" href="#">
                              Dine Room						</a>
          
                <div class="location-image">
                  <a href="#">
                                  <img width="300" height="169" src="https://source.unsplash.com/C-X9U1I5xGM/300x169" alt="dine room">					
                              </a>
                </div>
          
              </article>


            </div>
            <!-- end grid container -->
          
          </div>
    </body>
</html>