<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}}>
    <script src={{url_for('static', filename='scripts.js')}} type="text/javascript"></script>
    <title>Platinum Lodging</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
    <script src={{url_for('static', filename='gsap.js')}} type="text/javascript" defer></script>
</head>

<body onload="load()">
    <div id="root">
        <div class="container">
            <div class="screen1" id="screen1">
                <div class="screen1__content" id="roll1" style="opacity: 1">
                    <div class="screen1__subtag">COMFORT AT YOUR FINGERTIPS</div>
                    <div class="screen1__tag">EXPERIENCE THE DIFFERENCE</div>
                </div>
                <div class="screen1__content" id="roll2" style="opacity: 1">
                    <div class="screen1__subtag">UPGRADE YOUR HOME</div>
                    <div class="screen1__tag">BRING THE BEST OUT OF YOUR HOUSE</div>
                </div>
                <div class="screen1__content show" id="roll3" style="opacity: 1">
                    <div class="screen1__subtag">YOUR HOME HAS POTENTIAL</div>
                    <div class="screen1__tag">WE WILL MAKE IT POSSIBLE</div>
                </div>
                <div class="mouse" style="opacity: 1">
                    <div class="mousewheel" style="opacity: 1"></div>
                </div>
            </div>
            <div class="screen2" id="screen2">
                <div class="screen2__content">
                    <div class="title__in2" style="opacity: 0; visibility: hidden; transform: translate(0px, 51.2px);">
                        <div class="screen2__content__subtitle">PLATINUM LODGING</div>
                        <div class="screen2__content__title">Experience the difference</div>
                        <div class="screen2__content__body">
                            <p>Welcome to Platinum Lodging! We are excited you stopped by. Platinum lodging is a new
                                vacation home rental company and we are looking for some great locations!</p><br>
                            <p>We can help you make money with your investment! There are many reasons to choose
                                Platinum Lodging to help your property earn money while you sit back and relax - we do
                                all the work!</p>
                        </div>
                    </div>
                </div>
                <div class="screen2__gallery">
                    <div class="screen2__gallery__primary"
                        style="transform: translate(-76.8px, 0px) rotate(-2.00003deg);"></div>
                    <div class="screen2__gallery__secondary"
                        style="transform: translate(76.8px, 75.36px) rotate(0.99986deg);"></div>
                </div>
            </div>
            <div class="screen3" id="screen3">
                <div id="scrollable" class="screen3__scrollable">
                    <div class="screen3__panel0">
                        <div class="title__in3"
                            style="opacity: 0.257; visibility: inherit; transform: translate(0px, 35.2px);">
                            <div class="screen3__content__subtitle">HOSTINGS</div>
                            <div class="screen3__content__title">Our Homes</div>
                            <div class="screen3__content__body">Browse through our catalog of homes and get in touch to
                                know more.</div><br>
                        </div>
                    </div>
                    <div class="screen3__panel1 card">
                        <div class="screen3__panel__img1 screen3__panel__img"
                            style="transform: translate(0px, 115.2px);"></div>
                        <div class="screen3__panel__stars">
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                        </div>
                        <div class="screen3__panel__info">
                            <div class="screen3__panel__title">SHENANDOAH</div><span
                                class="screen3__panel__location">Texas, USA</span>
                            <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="screen3__panel__price">150$ / NIGHT</div>
                        </div>
                    </div>
                    <div class="screen3__panel2 card">
                        <div class="screen3__panel__img2 screen3__panel__img"
                            style="transform: translate(0px, 115.2px);"></div>
                        <div class="screen3__panel__stars">
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                        </div>
                        <div class="screen3__panel__info">
                            <div class="screen3__panel__title">THE WOODLANDS</div><span
                                class="screen3__panel__location">Texas, USA</span>
                            <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="screen3__panel__price">150$ / NIGHT</div>
                        </div>
                    </div>
                    <div class="screen3__panel3 card ">
                        <div class="screen3__panel__img3 screen3__panel__img"
                            style="transform: translate(0px, 115.2px);"></div>
                        <div class="screen3__panel__stars">
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                        </div>
                        <div class="screen3__panel__info">
                            <div class="screen3__panel__title">CENTERVILLE</div><span
                                class="screen3__panel__location">Texas, USA</span>
                            <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="screen3__panel__price">150$ / NIGHT</div>
                        </div>
                    </div>
                    <div class="screen3__panel4 card">
                        <div class="screen3__panel__img4 screen3__panel__img"
                            style="transform: translate(0px, 115.2px);"></div>
                        <div class="screen3__panel__stars">
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                        </div>
                        <div class="screen3__panel__info">
                            <div class="screen3__panel__title">GEORGETOWN</div><span
                                class="screen3__panel__location">Texas, USA</span>
                            <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="screen3__panel__price">150$ / NIGHT</div>
                        </div>
                    </div>
                    <div class="screen3__panel5 card">
                        <div class="screen3__panel__img5 screen3__panel__img"
                            style="transform: translate(0px, 115.2px);"></div>
                        <div class="screen3__panel__stars">
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                            <div class="screen3__panel__star"></div>
                        </div>
                        <div class="screen3__panel__info">
                            <div class="screen3__panel__title">LIBERTY HILL</div><span
                                class="screen3__panel__location">Texas, USA</span>
                            <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="screen3__panel__price">150$ / NIGHT</div>
                        </div>
                    </div>
                    <div class="screen3__panel0">
                        <div class="title__in3"
                            style="opacity: 0.257; visibility: inherit; transform: translate(0px, 35.2px);">
                            <div class="screen3__content__subtitle">HOSTINGS</div>
                            <div class="screen3__content__title">See More</div>
                            <div class="screen3__content__body">Check out more houses that we are currently hosting.
                            </div><br>
                        </div>
                        <div class="user-button">More</div>
                    </div>
                </div>
                <div class="screen3__scroll screen3__scroll__left" id="scroll__left" onclick="leftScroll()">&lt;</div>
                <div class="screen3__scroll screen3__scroll__right" id="scroll__right" onclick="rightScroll()">&gt;</div>
            </div>
            <div class="screen4" id="screen4">
                <div class="screen4__content">
                    <div class="screen4__content__header title__in4"
                        style="opacity: 0; visibility: hidden; transform: translate(0px, 45.2px);">
                        <div class="screen4__content__subtitle">OUR SERVICES</div>
                        <div class="screen4__content__title">What we offer</div>
                    </div>
                    <div class="screen4__main__content">
                        <div class="screen4__deck deck1">
                            <div id="card1" class="screen4__card"
                                style="opacity: 0; visibility: hidden; transform: translate(0px, 0px);">
                                <div class="screen4__card__icon2 screen4__card__icon"></div>
                                <div class="screen4__card__title">Guest listings</div>
                                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                            <div id="card2" class="screen4__card"
                                style="opacity: 0; visibility: hidden; transform: translate(0px, 0px);">
                                <div class="screen4__card__icon1 screen4__card__icon"></div>
                                <div class="screen4__card__title">Guest service</div>
                                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                        <div class="screen4__deck deck2">
                            <div id="card3" class="screen4__card"
                                style="opacity: 0; visibility: hidden; transform: translate(0px, 0px);">
                                <div class="screen4__card__icon3 screen4__card__icon"></div>
                                <div class="screen4__card__title">Maintainance</div>
                                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                            <div id="card4" class="screen4__card"
                                style="opacity: 0; visibility: hidden; transform: translate(0px, 0px);">
                                <div class="screen4__card__icon4 screen4__card__icon"></div>
                                <div class="screen4__card__title">Pricing strategy</div>
                                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                        <div class="screen4__deck deck3">
                            <div id="card5" class="screen4__card"
                                style="opacity: 0; visibility: hidden; transform: translate(0px, 0px);">
                                <div class="screen4__card__icon5 screen4__card__icon"></div>
                                <div class="screen4__card__title">Stay report</div>
                                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                            <div id="card6" class="screen4__card"
                                style="opacity: 0; visibility: hidden; transform: translate(0px, 0px);">
                                <div class="screen4__card__icon6 screen4__card__icon"></div>
                                <div class="screen4__card__title">Hands-off affair</div>
                                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="screen5" id="screen5">
                <div class="screen5__header title__in5h"
                    style="opacity: 0; visibility: hidden; transform: translate(76.8px, 0px);">
                    <div class="screen5__header__subtitle">TESTIMONIALS</div>
                    <div class="screen5__header__title">Our Guests' experiences</div>
                    <div class="screen5__header__desc">Here's what our guests have to say about us.</div>
                </div>
                <div id="comm1" class="screen5__comments title__in5"
                    style="opacity: 0; visibility: hidden; transform: translate(0px, 105.6px);">
                    <div class="screen5__comment">
                        <div class="screen5__stars screen5__comment__stars">
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                        </div>
                        <div class="screen5__comment__desc">Tara was an INCREDIBLE host and responded instantly and
                            resolved the issues. She was communicative every step of the way to make sure we were taken
                            care of. Highly recommend staying at any of their Air BNB’s.</div>
                        <div class="screen5__comment__person">
                            <div class="person1 screen5__comment__person__img"></div>Holly
                        </div>
                    </div>
                    <div class="screen5__comment">
                        <div class="screen5__stars screen5__comment__stars">
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                        </div>
                        <div class="screen5__comment__desc">Our hosts were incredible! Very communicative and on point
                            with directions and reminders. Very helpful and easy to get a hold of.</div>
                        <div class="screen5__comment__person">
                            <div class="person2 screen5__comment__person__img"></div>Jason
                        </div>
                    </div>
                </div>
                <div id="comm2" class="screen5__comments title__in5"
                    style="opacity: 0; visibility: hidden; transform: translate(0px, 105.6px);">
                    <div class="screen5__comment">
                        <div class="screen5__stars screen5__comment__stars">
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                        </div>
                        <div class="screen5__comment__desc">Tara was a wonderful host. She went above and beyond to
                            accommodate us while we stayed. She had very clear instructions on checking in and checking
                            out. She also had put together a great guide about all the great locations near by.</div>
                        <div class="screen5__comment__person">
                            <div class="person3 screen5__comment__person__img"></div>Angela
                        </div>
                    </div>
                    <div class="screen5__comment">
                        <div class="screen5__stars screen5__comment__stars">
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                        </div>
                        <div class="screen5__comment__desc">Tara was an absolutely phenomenal host! In addition to her
                            home being wonderful, we ran into a few issues that were totally out of her control and she
                            went above and beyond to make sure we were taken care of. Very grateful and will stay here
                            again!</div>
                        <div class="screen5__comment__person">
                            <div class="person4 screen5__comment__person__img"></div>Alex
                        </div>
                    </div>
                </div>
                <div id="comm3" class="screen5__comments title__in5 show"
                    style="opacity: 0; visibility: hidden; transform: translate(0px, 105.6px);">
                    <div class="screen5__comment">
                        <div class="screen5__stars screen5__comment__stars">
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                        </div>
                        <div class="screen5__comment__desc">Loved our stay. The house was great and it was such a
                            relaxing time. It was in an area with lots to do and easy access. The hosts were were great.
                            They were very kind and prompt with their responses if I had a question.</div>
                        <div class="screen5__comment__person">
                            <div class="person5 screen5__comment__person__img"></div>Stephanie
                        </div>
                    </div>
                    <div class="screen5__comment">
                        <div class="screen5__stars screen5__comment__stars">
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                            <div class="screen5__star"></div>
                        </div>
                        <div class="screen5__comment__desc">This air bnb is a must extremely convenient location great
                            size! We felt like we were at home from the moment we walked in!</div>
                        <div class="screen5__comment__person">
                            <div class="person6 screen5__comment__person__img"></div>Anthony
                        </div>
                    </div>
                </div>
            </div>
            <div class="screen6" id="screen6">
                <div class="screen6__content title__in6"
                    style="opacity: 0; visibility: hidden; transform: translate(0px, 27.2px);">
                    <div class="screen6__content__subtitle">CONTACT</div>
                    <div class="screen6__content__title">Get in touch</div>
                    <div class="screen6__content__body">
                        <p>Please fill out the form if you are interested in more information.</p>
                    </div>
                </div>
                <form class="form title__in6" action="https://formsubmit.co/platinumlodging@gmail.com" method="POSt"
                    style="opacity: 0; visibility: hidden; transform: translate(0px, 106.88px);"><input class="inp"
                        type="text" name="fname" placeholder="First name (required)" required=""><br><input class="inp"
                        type="text" name="lname" placeholder="Last name (required)" required=""><br><input class="inp"
                        type="text" name="phone" placeholder="Phone number (required)" required=""><br><input
                        class="inp" type="email" name="email" placeholder="E-mail address (required)"
                        required=""><br><input class="inp" type="text" name="help"
                        placeholder="How may we help you? (required)" required=""><br><input class="honey" type="text"
                        name="_honey" placeholder="._."><input type="hidden" name="_captcha" value="false"><button
                        class="user-button btn-margin" type="submit">Send</button></form>
            </div>
            <div class="footer">
                <div class="footer___row" id="footer__row1">
                    <div class="footer___col">
                        <div class="footer___company">
                            <div class="footer___logo" onclick="scrollSmoothTo('screen1')"></div>
                        </div>
                        <a href="#" class="footer___col__sub">Terms</a>
                        <a href="#" class="footer___col__sub">Privacy policy</a>
                    </div>
                    <div class="footer___col">
                        <div class="footer___col__head" onclick="scrollSmoothTo('screen1')">HOME</div>
                        <div class="footer___col__sub" onclick="scrollSmoothTo('screen4')">Our services</div>
                        <div class="footer___col__sub" onclick="scrollSmoothTo('screen3')">Hostings</div>
                        <div class="footer___col__sub" onclick="scrollSmoothTo('screen5')">Testimonials</div>
                        <div class="footer___col__sub" onclick="scrollSmoothTo('screen6')">Contact</div>
                    </div>
                    <div class="footer___col">
                        <a href={{ url_for('all_properties') }} class="footer___col__head">OUR HOMES</a>
                        <a href="#" class="footer___col__sub">Lorem</a>
                        <a href="#" class="footer___col__sub">Ipsumervices</a>
                        <a href="#" class="footer___col__sub">Dolor</a>
                    </div>
                    <div class="footer___col">
                        <a href="#" class="footer___col__head">PARTNER UP</a>
                        <a href="#" class="footer___col__sub">Lorem</a>
                        <a href="#" class="footer___col__sub">Ipsum</a>
                        <a href="#" class="footer___col__sub">Dolor</a>
                        <a href="#" class="footer___col__sub">Sit</a>
                    </div>
                    <div class="footer___col">
                        <a href="#" class="footer___col__head">ABOUT US</a>
                        <a href="#" class="footer___col__sub">Lorem</a>
                        <a href="#" class="footer___col__sub">Ipsum</a>
                    </div>
                    <div class="footer___col">
                        <a href="#"><div id="facebook" class="footer___col__icon"></div></a>
                        <a href="#"> <div id="twitter" class="footer___col__icon"></div></a>
                        <a href="#"><div id="instagram" class="footer___col__icon"></div></a>
                        <a href="#"><div id="youtube" class="footer___col__icon"></div></a> 
                    </div>
                </div>
            </div>
            <div class="header" id="header">
                <nav class="user-nav" id="user-nav">
                    <div class="user-nav__company" onclick="scrollSmoothTo('screen1')">
                        <div class="user-nav__logo" id="user-nav__logo"></div><span class="user-nav__title"><span
                                class="Gold">P L A T I N U M </span><span class="user-nav__sub-title">L O D G I N
                                G</span></span>
                    </div>
                    <div class="user-nav__nav"><div class="user-nav__nav__home" onclick="scrollSmoothTo('screen1')">Home</div><a
                            class="user-nav__nav__our-homes" href={{ url_for('all_properties')}}>Our Homes</a><a
                            class="user-nav__nav__partner-up" href="#">Partner Up</a><a
                            class="user-nav__nav__about-us" href="#">About Us</a></div><button
                        class="user-button" type="button" onclick="scrollSmoothTo('screen6')">Contact</button>
                </nav>
            </div>
            <div class="background" id="background"></div>
        </div>
    </div>
</body>

</html>