<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>

  <link rel="stylesheet" media="screen and (max-width : 600px)" href={{url_for('static', filename='css/style_s.css')}}>
  <title>Platinum Lodging</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>
  <script src={{url_for('static', filename='scripts.js')}} type="text/javascript" defer></script>
  <script src={{url_for('static', filename='gsap.js')}} type="text/javascript" defer></script>
</head>
<body onload="load()">
  <div id="root">
    <div class="container">
      <div id="screen1" class="screen1">
        <div class="screen1__content" id="roll1">
          <div class="screen1__subtag">COMFORT AT YOUR FINGERTIPS</div>
          <div class="screen1__tag">EXPERIENCE THE DIFFERENCE</div>
        </div>
        <div class="screen1__content" id="roll2">
          <div class="screen1__subtag">UPGRADE YOUR HOME</div>
          <div class="screen1__tag">BRING THE BEST OUT OF YOUR HOUSE</div>
        </div>
        <div class="screen1__content show" id="roll3">
          <div class="screen1__subtag">YOUR HOME HAS POTENTIAL</div>
          <div class="screen1__tag">WE WILL MAKE IT POSSIBLE</div>
        </div>
        <div class="mouse">
          <div class="mousewheel"></div>
        </div>
      </div>
      <div id="screen2" class="screen2">
        <div class="screen2__content">
          <div class="screen2__content__subtitle">PLATINUM LODGING</div>
          <div class="screen2__content__title">Experience the difference</div>
          <div class="screen2__content__body">
            <p>Welcome to Platinum Lodging! We are excited you stopped by. Platinum lodging is a new vacation home
              rental company and we are looking for some great locations!</p><br>
          </div>
        </div>
        <div class="screen2__gallery">
          <div class="screen2__gallery__primary" ></div>
          <div class="screen2__gallery__secondary" >
          </div>
        </div>
      </div>
      <div id="screen3" class="screen3 no-select">
        <div id="scrollable" class="screen3__scrollable">
          <div class="screen3__panel0">
            <div class="screen3__content__subtitle">HOSTINGS</div>
            <div class="screen3__content__title">Our Homes</div>
            <div class="screen3__content__body">Browse through our catalog of homes and get in touch to know more.</div>
            <br>
          </div><a href="/properties/property/1">
            <div id="screen3__panel1" class="screen3__panel1 card">
              <div class="screen3__panel__img1 screen3__panel__img" ></div>
              <div class="screen3__panel__stars">
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
              </div>
              <div class="screen3__panel__info">
                <div class="screen3__panel__title">SHENANDOAH</div><span class="screen3__panel__location">Texas,
                  USA</span>
                <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="screen3__panel__price">150$ / NIGHT</div>
              </div>
            </div>
          </a><a href="/properties/property/2">
            <div id="screen3__panel2" class="screen3__panel2 card">
              <div class="screen3__panel__img2 screen3__panel__img" ></div>
              <div class="screen3__panel__stars">
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
              </div>
              <div class="screen3__panel__info">
                <div class="screen3__panel__title">THE WOODLANDS</div><span class="screen3__panel__location">Texas,
                  USA</span>
                <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="screen3__panel__price">150$ / NIGHT</div>
              </div>
            </div>
          </a><a href="/properties/property/3">
            <div id="screen3__panel3" class="screen3__panel3 card">
              <div class="screen3__panel__img3 screen3__panel__img" ></div>
              <div class="screen3__panel__stars">
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
              </div>
              <div class="screen3__panel__info">
                <div class="screen3__panel__title">CENTERVILLE</div><span class="screen3__panel__location">Texas,
                  USA</span>
                <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="screen3__panel__price">150$ / NIGHT</div>
              </div>
            </div>
          </a><a href="/properties/property/2">
            <div id="screen3__panel4" class="screen3__panel4 card">
              <div class="screen3__panel__img4 screen3__panel__img"
                ></div>
              <div class="screen3__panel__stars">
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
              </div>
              <div class="screen3__panel__info">
                <div class="screen3__panel__title">GEORGETOWN</div><span class="screen3__panel__location">Texas,
                  USA</span>
                <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="screen3__panel__price">150$ / NIGHT</div>
              </div>
            </div>
          </a><a href="/properties/property/1">
            <div id="screen3__panel5" class="screen3__panel5 card">
              <div class="screen3__panel__img5 screen3__panel__img"
                ></div>
              <div class="screen3__panel__stars">
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
                <div class="screen3__panel__star"></div>
              </div>
              <div class="screen3__panel__info">
                <div class="screen3__panel__title">LIBERTY HILL</div><span class="screen3__panel__location">Texas,
                  USA</span>
                <div class="screen3__panel__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="screen3__panel__price">150$ / NIGHT</div>
              </div>
            </div>
          </a>
          <div class="screen3__panel0">
            <div class="title__in3">
              <div class="screen3__content__subtitle">HOSTINGS</div>
              <div class="screen3__content__title">See More</div>
              <div class="screen3__content__body">Check out more houses that we are currently hosting.</div><br>
            </div><a href="/properties">
              <div class="user-button">More</div>
            </a>
          </div>
        </div>
        <div class="screen3__scroll screen3__scroll__left" id="scroll__left" onclick="Scroll(2)">&lt;</div>
        <div class="screen3__scroll screen3__scroll__right" id="scroll__right" onclick="Scroll(1)">&gt;</div>
      </div>
      <div id="screen4" class="screen4">
        <div class="screen4__content">
          <div class="screen4__content__header">
            <div class="screen4__content__subtitle">OUR SERVICES</div>
            <div class="screen4__content__title">What we offer</div>
          </div>
          <div class="screen4__main__content">
            <div class="screen4__deck deck1">
              <div id="card1" class="screen4__card"
                >
                <div class="screen4__card__icon2 screen4__card__icon"></div>
                <div class="screen4__card__title">Guest listings</div>
                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              </div>
              <div id="card2" class="screen4__card"
                >
                <div class="screen4__card__icon1 screen4__card__icon"></div>
                <div class="screen4__card__title">Guest service</div>
                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              </div>
            </div>
            <div class="screen4__deck deck2">
              <div id="card3" class="screen4__card"
                >
                <div class="screen4__card__icon3 screen4__card__icon"></div>
                <div class="screen4__card__title">Maintainance</div>
                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              </div>
              <div id="card4" class="screen4__card"
                >
                <div class="screen4__card__icon4 screen4__card__icon"></div>
                <div class="screen4__card__title">Pricing strategy</div>
                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              </div>
            </div>
            <div class="screen4__deck deck3">
              <div id="card5" class="screen4__card"
                >
                <div class="screen4__card__icon5 screen4__card__icon"></div>
                <div class="screen4__card__title">Stay report</div>
                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              </div>
              <div id="card6" class="screen4__card"
                >
                <div class="screen4__card__icon6 screen4__card__icon"></div>
                <div class="screen4__card__title">Hands-off affair</div>
                <div class="screen4__card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="screen5" class="screen5">
        <div class="screen5__header">
          <div class="screen5__header__subtitle">TESTIMONIALS</div>
          <div class="screen5__header__title">Guest experiences</div>
          <div class="screen5__header__desc">Here's what our guests have to say about us.</div>
        </div>
        <div id="comm1" class="screen5__comments title__in5"
          >
          <div class="screen5__comment">
            <div class="screen5__stars screen5__comment__stars">
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
            </div>
            <div class="screen5__comment__desc">Tara was an INCREDIBLE host and responded instantly and resolved the
              issues. She was communicative every step of the way to make sure we were taken care of.</div>
            <div class="screen5__comment__person">
              <div class="person1 screen5__comment__person__img"></div>Holly
            </div>
          </div>
          <div class="screen5__comment">
            <div class="screen5__stars screen5__comment__stars">
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
            </div>
            <div class="screen5__comment__desc">Our hosts were incredible! Very communicative and on point with
              directions and reminders. Very helpful and easy to get a hold of.</div>
            <div class="screen5__comment__person">
              <div class="person2 screen5__comment__person__img"></div>Jason
            </div>
          </div>
        </div>
        <div id="comm2" class="screen5__comments title__in5"
          >
          <div class="screen5__comment">
            <div class="screen5__stars screen5__comment__stars">
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
            </div>
            <div class="screen5__comment__desc">Tara was a wonderful host. She went above and beyond to accommodate us
              while we stayed. She had very clear instructions on checking in and checking out.</div>
            <div class="screen5__comment__person">
              <div class="person3 screen5__comment__person__img"></div>Angela
            </div>
          </div>
          <div class="screen5__comment">
            <div class="screen5__stars screen5__comment__stars">
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
            </div>
            <div class="screen5__comment__desc">Tara was an absolutely phenomenal host! In addition to her home being
              wonderful, we ran into a few issues and she went above and beyond to make sure we were taken care of.
            </div>
            <div class="screen5__comment__person">
              <div class="person4 screen5__comment__person__img"></div>Alex
            </div>
          </div>
        </div>
        <div id="comm3" class="screen5__comments title__in5 show"
          >
          <div class="screen5__comment">
            <div class="screen5__stars screen5__comment__stars">
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
            </div>
            <div class="screen5__comment__desc">Loved our stay. The hosts were were great. They were very kind and
              prompt with their responses if I had a question.</div>
            <div class="screen5__comment__person">
              <div class="person5 screen5__comment__person__img"></div>Stephanie
            </div>
          </div>
          <div class="screen5__comment">
            <div class="screen5__stars screen5__comment__stars">
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
              <div class="screen5__star"></div>
            </div>
            <div class="screen5__comment__desc">This air bnb is a must extremely convenient location great size! We felt
              like we were at home from the moment we walked in!</div>
            <div class="screen5__comment__person">
              <div class="person6 screen5__comment__person__img"></div>Anthony
            </div>
          </div>
        </div>
      </div>
      <div id="screen6" class="screen6">
        <div class="screen6__content">
          <div class="screen6__content__subtitle">CONTACT</div>
          <div class="screen6__content__title">Get in touch</div>
          <div class="screen6__content__body">
            <p>Please fill out the form if you are interested in more information.</p>
          </div>
        </div>
        <form class="form title__in6" action="https://formsubmit.co/platinumlodging@gmail.com" method="POST"><input class="inp" type="text"
            name="fname" placeholder="First name (required)" required=""><br><input class="inp" type="text" name="lname"
            placeholder="Last name (required)" required=""><br><input class="inp" type="text" name="phone"
            placeholder="Phone number (required)" required=""><br><input class="inp" type="email" name="email"
            placeholder="E-mail address (required)" required=""><br><input class="inp" type="text" name="help"
            placeholder="How may we help you? (required)" required=""><br><input class="honey" type="text" name="_honey"
            placeholder="._."><input type="hidden" name="_captcha" value="false"><button class="user-button btn-margin"
            type="submit">Send</button></form>
      </div>
      <div class="footer">
        <div class="footer___row" id="footer__row1">
          <div class="footer___col">
            <div class="footer___company">
              <div class="footer___logo" onclick="smoothScroll('screen1')"></div>
            </div><a href="#">
              <div class="footer___col__sub">Terms</div>
            </a><a href="#">
              <div class="footer___col__sub">Privacy policy</div>
            </a>
          </div>
          <div class="footer___col">
            <div class="footer___col__head" onclick="smoothScroll('screen1')">HOME</div>
            <div class="footer___col__sub" onclick="smoothScroll('screen4')">Our services</div>
            <div class="footer___col__sub" onclick="smoothScroll('screen3')">Hostings</div>
            <div class="footer___col__sub" onclick="smoothScroll('screen5')">Testimonials</div>
            <div class="footer___col__sub" onclick="smoothScroll('screen6')">Contact</div>
          </div>
          <div class="footer___col"><a href="/properties">
              <div class="footer___col__head">OUR HOMES</div>
            </a><a href="#">
              <div class="footer___col__sub">Lorem</div>
            </a><a href="#">
              <div class="footer___col__sub">Ipsumervices</div>
            </a><a href="#">
              <div class="footer___col__sub">Dolor</div>
            </a></div>
          <div class="footer___col"><a href="https://form.jotform.com/platinumlodging/platinum-lodging-">
              <div class="footer___col__head">PARTNER UP</div>
            </a><a href="#">
              <div class="footer___col__sub">Lorem</div>
            </a><a href="#">
              <div class="footer___col__sub">Ipsum</div>
            </a><a href="#">
              <div class="footer___col__sub">Dolor</div>
            </a><a href="#">
              <div class="footer___col__sub">Sit</div>
            </a></div>
          <div class="footer___col">
              <div class="footer___col__head" onclick="smoothScroll('screen2')">ABOUT US</div>
            <a href="#">
              <div class="footer___col__sub">Lorem</div>
            </a><a href="#">
              <div class="footer___col__sub">Ipsum</div>
            </a></div>
          <div class="footer___col"><a href="https://www.facebook.com">
              <div id="facebook" class="footer___col__icon"></div>
            </a><a href="https://www.twitter.com">
              <div id="twitter" class="footer___col__icon"></div>
            </a><a href="https://www.instagram.com">
              <div id="instagram" class="footer___col__icon"></div>
            </a><a href="https://www.youtube.com">
              <div id="youtube" class="footer___col__icon"></div>
            </a></div>
        </div>
      </div>
      <div class="header" id="header">
        <nav class="user-nav" id="user-nav">
          <div class="user-nav__company">
            <div class="user-nav__logo" id="user-nav__logo" onclick="smoothScroll('screen1')"></div><span class="user-nav__title" onclick="smoothScroll('screen1')"><span class="Gold">P L A
                T I N U M </span><span class="user-nav__sub-title">L O D G I N G</span></span>
          </div>
          <div class="user-nav__nav" style="cursor:pointer;"><span id="nav__home" onclick="smoothScroll('screen1')">Home</span><a
              class="user-nav__nav__our-homes" href="/properties">Our Homes</a><a
              class="user-nav__nav__partner-up" href="https://form.jotform.com/platinumlodging/platinum-lodging-">Partner Up</a><span id="nav__home"
              class="user-nav__nav__about-us" onclick="smoothScroll('screen2')">About Us</span></div>
              <button class="user-button" type="button" onclick="smoothScroll('screen6')">Contact</button>
        </nav>
      </div>
      <div class="background" id="background"></div>
    </div>
  </div>
</body>
</html>