<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <title>React App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} >
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='css/navbar.css') }} > -->
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }} > -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }} >
    <link rel="stylesheet" href={{ url_for('static', filename='css/App.css') }} >  
    <link rel="stylesheet" href={{ url_for('static', filename='css/nav_bar1.css')}}> 
</head>

<body>
    <!-- {% include 'nav_bar.html' %} -->

    <!-- <div id="root"><div><div class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/">Platinum Lodging</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <div id="root">
        <div class="header" id="header">
           <nav class="user-nav" id="user-nav">
              <div class="user-nav__company">
                 <div class="user-nav__logo" id="user-nav__logo" href={{ url_for('home') }}></div>
                 <span class="user-nav__title"><span class="Gold" href={{ url_for('home') }}>P L A T I N U M </span><span class="user-nav__sub-title">L O D G I N G</span></span>
              </div>
              <div class="user-nav__nav">
                <a class="user-nav__nav__home" href={{ url_for('home') }}>Home</a>
                <a class="user-nav__nav__our-homes" href={{ url_for('properties') }}>Our Homes</a>
                <a class="user-nav__nav__partner-up">Partner Up</a>
                <a class="user-nav__nav__about-us">About Us</a>
            </div>
              <a class="user-nav__contact" class="a_in_nav">Contact</a>
           </nav>
        </div>
     </div>
  
        <!-- <div class="navbar navbar-dark bg-dark">
            <div class="container rt">
                <div class="row">
                    <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                      <div id='platinum'>
                        <b>Platinum Lodging</b>
                      </div>  
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item" id='home'>Home </li>
                            <li class="nav-item" id='au'>Partnering up</li>
                            <li class="nav-item" id='contact'>Contact Us</li>
                          </ul>
                      </div>
                    </div>
                    </nav>
                    </div>
                </div>
            </div>
        </div> -->
    <div>
        <div>
            <div class="card mb-4">
                <div class="card-body">
                    <h2>Villa David Chipperfield Nord</h2>
                    <p>Gardone Riviera, Lombardia, Italy &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16"><path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path><path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path></svg>
                        <a>
                            <button class="btn btn-outline-dark "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path><path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path></svg> &nbsp; Download (.pdf)</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src={{ url_for('static', filename='img/house1.jpg') }} class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block"><h5>First slide label</h5><p>Some representative placeholder content for the first slide.</p></div>
                </div>
                <div class="carousel-item"><img src={{ url_for('static', filename='img/house2.jpg') }} class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block"><h5>Second slide label</h5><p>Some representative placeholder content for the second slide.</p></div>
                </div>
                <div class="carousel-item"><img src={{ url_for('static', filename='img/room1.jpg') }} class="d-block w-100" alt="..."><div class="carousel-caption d-none d-md-block"><h5>Third slide label</h5><p>Some representative placeholder content for the third slide.</p></div></div>
                <div class="carousel-item"><img src={{ url_for('static', filename='img/room2.jpg') }} class="d-block w-100" alt="..."><div class="carousel-caption d-none d-md-block"><h5>Fourth slide label</h5><p>Some representative placeholder content for the fourth slide.</p></div></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="container">
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Luxury stay in Gardone Riviera, Lombardia, Italy</h2>
                    <p>&nbsp; 8 guests . 4 bedrooms . 4 beds . 4.5 bathrooms</p>
                    <hr class="mt-2 mb-3">
                    <h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"></path>
                        </svg>&nbsp; Designed by
                    </h6>
                    <p>&nbsp;   David Chipperfield</p>
                    <h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph-fill" viewBox="0 0 16 16">
                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm.5 10v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"></path>
                        </svg>&nbsp; Featured in
                    </h6>
                    <p>&nbsp;   Dezeen, August 2015<br>&nbsp;   Designboom, July 2015</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="display-text-group">
                        <span class="displayed-text">Architect David Chipperfield designed the airy interiors of this classic pergola-style house to celebrate the breathtaking surroundings of Lake Garda.
                            <span style="display: none;">From this prestigious position on the Eden Luxury Resort, you’ll enjoy endless views of the lake, as well as easy access to walking and biking trails. After a day on the lake, cool off in the pool or grab a drink at Eden's gourmet restaurant.Architect David Chipperfield designed the airy interiors of this classic pergola-style house to celebrate the breathtaking surroundings of Lake Garda. From this prestigious position on the Eden Luxury Resort, you’ll enjoy endless views of the lake, as well as easy access to walking and biking trails. After a day on the lake, cool off in the pool or grab a drink at Eden’s gourmet restaurant. Copyright © Luxury Retreats. All rights reserved.</span>
                            <div class="read-more-button">read more</div>
                        </span>
                    </div>
                    <hr class="mt-2 mb-3"><h6>BEDROOM &amp; BATHROOM</h6>
                    <ul>
                        <li>Bedroom 1 - Master: King size bed, Ensuite bathroom with stand-alone rain shower, Television, Kitchenette, Lounge area, Terrace</li>
                        <li>Bedroom 2: Queen size bed, Ensuite bathroom with stand-alone rain shower, Television</li>
                        <li>Bedroom 3: Queen size bed, Ensuite bathroom with stand-alone rain shower, Television</li>
                        <li>Bedroom 4: Queen size bed, Jack &amp; Jill bathroom with Exercise room, Stand-alone rain shower &amp; bathtub, Bidet, Dual vanity, Television, Desk, Balcony</li>
                    </ul>
                    <hr class="mt-2 mb-3"><h6>FEATURES &amp; AMENITIES</h6>
                    <ul>
                        <li>Fully equipped kitchen with breakfast bar</li>
                        <li>Formal dining area with seating for 10</li>
                        <li>Ice maker</li>
                        <li>Dishwasher</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>